/* src/App.css */

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: #111;
  overflow: auto; /* Ganti 'hidden' menjadi 'auto' */
}

.app-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #313131;
}

/* Duplikasi dan properti tidak relevan lainnya telah dihapus */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}